<a href="/cennik"><div  class="hidden-sm hidden-xs bgimg">
  <p>
Czym jest Lorem Ipsum?
Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
</p>
</div>
</a>
<div class="page-header line">

</div>
<div class="container">


<div class="col-md-4">
  <div class="artykul">
       <a href="/art1"><b>Czym jest Lorem Ipsum?</b><img src="img/art1.jpg"/><span>Czytaj dalej!</span></a> 
       </div>
</div>

<div class="col-md-4">
  <div class="artykul">
       <a href="/art2"><b>Skąd się to wzięło?</b><img src="img/art2.jpg"/><span>Czytaj dalej!</span></a> 
       </div>
</div>

<div class="col-md-4">
  <div class="artykul">
       <a href="/art3"><b>Do czego tego użyć?</b><img src="img/art3.jpg"/><span>Czytaj dalej!</span></a> 
       </div>
</div>

</div>