<div class="container">
	<div class="page-header">
	<h2 >Cennik</h2>
	
</div>




<div class="kontent" ng-controller="toggleCtrl">
<h3 ng-click="toggle(4)">Kategoria A, A2, A1 <i class="fas fa-motorcycle"></i></h3>
<div  ng-hide="myVar4">
<strong>(HONDA CBF 125, 2x SUZUKI GLADIUS 600 - identyczny jak na egzaminie)</strong>


<table class="table" >
<thead>
<tr>
<td ><h4><b>Kurs nauki jazdy motocyklem<b></h4></td>
<td ><h4><b>Wiek</b></h4></td>
<td ><h4><b>Cena</b></h4></td>
</tr>
</thead>

<tbody>
<tr>
<td>Prawo jazdy kat. A1 (do 125cm3, 15KM)</td>
<td>16 lat</td>
<td>1500</td>
</tr>
<tr>
<td>Prawo jazdy kat. A2 (do 47KM)</td>
<td>18 lat</td>
<td>1500</td>
</tr>
<tr>
<td>Prawo jazdy kat. A</td>
<td>24 lata</td>
<td>1500</td>
</tr>
<tr>
<td>Prawo jazdy kat. A, A2 + kat. B</td>
<td></td>
<td>2800</td>
</tr>
<tr>
<td>Dodatkowa godzina jazdy kat. A, A2, A1</td>
<td></td>
<td>50</td>
</tr>
<tr>
<td>Badanie lekarskie</td>
<td></td>
<td>50</td>
</tr>
</tbody>
</table>
</div>

<h3 ng-click="toggle(5)">Kategoria B <i class="fas fa-car"></i></h3>
<div  ng-hide="myVar5">
<tr>
<strong>(TOYOTA YARIS 1.0 - wersja egzaminacyjna)</strong>


<table class="table">
<thead>
<tr>
<td ><h4><b>Kurs nauki jazdy samochodem kat. B<b></h4></td>
<td ><h4><b>Wiek</b></h4></td>
<td ><h4><b>Cena</b></h4></td>
</tr>
</thead>
<tbody>
<tr>
<td>Prawo jazdy kat. B</td>
<td>18 lat</td>
<td>1500</td>
<tr>
<td>Dodatkowa godzina jazdy kat. B</td>
<td></td>
<td>50</td>
</tr>
<tr>
<td>Badanie lekarskie</td>
<td></td>
<td>50</td>
</tr>

</tbody>
</table>
</div>

<h3 ng-click="toggle(6)">Kategoria C, C+E <i class="fas fa-truck"></i></h3>
<div  ng-hide="myVar6">
<strong>(Samochód MAN TGL 12.250)</strong>


<table class="table">
<thead>
<tr>
<td ><h4><b>Kurs nauki jazdy kat. C , CE<b></h4></td>
<td ><h4><b>Wiek</b></h4></td>
<td ><h4><b>Cena</b></h4></td>
</tr>
</thead>
<tbody>
<tr>
<td>Prawo jazdy kat. C</td>
<td>18 / 21 lat</td>
<td>2200</td>
</tr>
<tr>
<td>Prawo jazdy kat. C+E</td>
<td>18 / 21 lat</td>
<td>2000</td>
</tr>
<tr>
<td>Prawo jazdy razem kat. C razem z C+E</td>
<td>18 / 21 lat</td>
<td>3600</td>
</tr>
<tr>
<td>Dodatkowa godzina jazdy kat. C</td>
<td></td>
<td>100</td>
</tr>
<tr>
<td>Dodatkowa godzina jazdy kat. C+E</td>
<td></td>
<td>110</td>
</tr>
<tr>
<td>Badanie lekarskie + psychologiczne</td>
<td></td>
<td>350</td>
</tr>
</tbody>
</table>
</div>
</div>



</div>