
<div class="container">
	<div class="page-header">
	<h1>Resetuj hasło</h1>
</div>
<form ng-submit="passwd.mailDate(mailData);">
	<label>Email:</label>
	<input class="form-control forgot" type="text" name="mail" ng-model="passwd.mailData.mail" placeholder="Podaj email, na który zarejestrowane jest konto"><br>
	  <button class="btn btn-primary" type="submit">Potwierdź</button>
</form>
</div>

<div class="container">
	<div class="row show-hide-message" ng-show="passwd.successMsg">
	<div class="aler alert-success">{{ passwd.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="passwd.errorMsg">
	<div class="aler alert-danger">{{ passwd.errorMsg }}</div>
</div>