<div class="container">
	<div class="page-header">
	<h2>Znaki drogowe</h2>

</div>

  <div class="table-responsive">

  <table class="table" id="znaki" >
        <thead>
            <tr>
                <th ><i class="fas fa-hashtag" aria-hidden="true"></i>Symbol</th>
                <th ><i class="far fa-image"></i> Wygląd</th>
                <th ><i class="fas fa-info-circle"></i> Znaczenie</th>
                <th ><i class="fas fa-quote-right"></i> Objaśnienie</th>
            </tr>
        </thead>

        <tbody>
        	
                            <tr>
                    <td>D-1</td>
                    <td><img src="img/D-1-droga-z-pierwszenstwem.png" alt="Znaki drogowe D-1" data-id="111" /></td>
                    <td>Droga z pierwszeństwem</td>
                    <td>Oznacza początek lub kontynuację drogi z pierwszeństwem. Umieszczona pod znakiem D-1 tabliczka T-6a albo T-6b wskazuje odpowiednio rzeczywisty przebieg drogi z pierwszeństwem przez skrzyżowanie lub układ dróg podporządkowanych (gruba linia na tabliczkach oznacza drogę z pierwszeństwem).</td>
                </tr>
                <tr>
                    <td>D-2</td>
                    <td><img src="img/D-2-koniec-drogi-z-pierwszenstwem.png" alt="Znaki drogowe D-2" data-id="112" /></td>
                    <td>Koniec drogi z pierwszeństwem</td>
                    <td>Oznacza koniec drogi z pierwszeństwem.</td>
                </tr>
                <tr>
                    <td>D-3</td>
                    <td><img src="img/D-3-droga-jednokierunkowa.png" alt="Znaki drogowe D-3" data-id="113" /></td>
                    <td>Droga jednokierunkowa</td>
                    <td>Oznacza początek lub kontynuację drogi lub jezdni, na której ruch odbywa się w jednym kierunku. Umieszczona pod znakiem tabliczka T-22 wskazuje, że ruch rowerów jednośladowych na wyznaczonym na jezdni pasie ruchu przeznaczonym dla tych pojazdów odbywa się w kierunku przeciwnym do wskazanego na znaku.</td>
                </tr>
                <tr>
                    <td>D-4a</td>
                    <td><img src="img/D-4a-droga-bez-przejazdu.png" alt="Znaki drogowe D-4a" data-id="114" /></td>
                    <td>Droga bez przejazdu</td>
                    <td>Oznacza początek drogi bez przejazdu.</td>
                </tr>
                <tr>
                    <td>D-4b</td>
                    <td><img src="img/D-4b-wjazd-na-droge-bez-przejazdu.png" alt="Znaki drogowe D-4b" data-id="115" /></td>
                    <td>Wjazd na drogę bez przejazdu</td>
                    <td>Oznacza, że droga za skrzyżowaniem po stronie wskazanej na znaku jest drogą bez przejazdu.</td>
                </tr>
                <tr>
                    <td>D-5</td>
                    <td><img src="img/D-5-pierwszenstwo-na-zwezonym-odcinku-jezdni.png" alt="Znaki drogowe D-5" data-id="116" /></td>
                    <td>Pierwszeństwo na zwężonym odcinku jezdni</td>
                    <td>Oznacza, że kierujący przejeżdżają lub przechodzą przed kierującymi zbliżającymi się z kierunku przeciwnego.</td>
                </tr>
                <tr>
                    <td>D-6</td>
                    <td><img src="img/D-6-przejscie-dla-pieszych.png" alt="Znaki drogowe D-6" data-id="117" /></td>
                    <td>Przejście dla pieszych</td>
                    <td>Onacza miejsce przeznaczone do przechodzenia pieszych w poprzek drogi.Kierujący pojazdem zbliżający się do miejsca oznaczonego znakiem jest obowiązany zmniejszyć prędkość tak, aby nie narazić na niebezpieczeństwo pieszych znajdujących się w tych miejscach lub na nie wchodzących. Umieszczona pod znakiem tabliczka T-27 wskazuje, że przejście dla pieszych jest szczególnie uczęszczane przez dzieci.</td>
                </tr>
                <tr>
                    <td>D-6a</td>
                    <td><img src="img/D-6a-przejazd-dla-rowerow.png" alt="Znaki drogowe D-6a" data-id="118" /></td>
                    <td>Przejazd dla rowerów</td>
                    <td>Oznacza miejsce przeznaczone do przejeżdżania rowerzystów w poprzek drogi.Kierujący pojazdem zbliżający się do miejsca oznaczonego znakiem jest obowiązany zmniejszyć prędkość tak, aby nie narazić na niebezpieczeństwo rowerzystów znajdujących się w tych miejscach lub na nie wjeżdżających.</td>
                </tr>
                <tr>
                    <td>D-6b</td>
                    <td><img src="img/D-6b-przejscie-dla-pieszych-i-przejazd-dla-rowerzystow.png" alt="Znaki drogowe D-6b" data-id="119" /></td>
                    <td>Przejście dla pieszych i przejazd dla rowerzystów</td>
                    <td>Oznacza miejsce przeznaczone do przechodzenia pieszych i przejeżdżania rowerzystów w poprzek drogi. Kierujący pojazdem zbliżający się do miejsca oznaczonego znakiem jest obowiązany zmniejszyć prędkość tak, aby nie narazić na niebezpieczeństwo pieszych znajdujących się w tych miejscach lub na nie wchodzących oraz rowerzystów znajdujących się w tych miejscach lub na nie wjeżdżających. Umieszczona pod znakiem tabliczka T-27 wskazuje, że przejście dla pieszych jest szczególnie uczęszczane przez dzieci.</td>
                </tr>
        </tbody>
    </table>
</div>



</div>
